@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap");

#calendarPage {
  background-color: #2A580F;
  background-image: url("../../assets/garden.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

/* --------------- Calendar Styling --------------- */

.calendarContainer {
  position: relative;
}

#addEventBtn {
  width: 30px;
  height: 30px;
  background-color: #2A580F;
  border-radius: 50%;
  position: absolute;
  right: -5%;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.rbc-calendar {
  height: 80vh;
  width: 80vw;
}

.rbc-toolbar {
  flex-wrap: nowrap;
  font-size: clamp(10px, 1vw, 18px);
  justify-content: unset;
}

.rbc-toolbar-label {
  font-size: clamp(18px, 1.5vw, 24px);
}

.rbc-btn-group {
  background-color: rgb(103, 139, 65, 0.8);
}

.rbc-month-header {
  background-color: #c2c2be;
}

.rbc-day-bg {
  background-color: rgb(194, 194, 190, 0.7);
}

.rbc-off-range-bg {
  background-color: rgb(230, 230, 230);
}

.rbc-event {
  background-color: #e0cc12;
  color: black;
}

.rbc-event.rbc-selected {
  background-color: rgb(103, 139, 65, 0.8);
  border: none !important;
}

.rbc-event.rbc-selected:focus {
  outline: none;
}

/* --------------- Event Form Styling --------------- */

.modal-dialog {
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 0 auto !important;
  }
}

.formTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10%;
  padding-top: 3%;
  text-align: center;
  width: 100%;
}

.addEventBtn {
  background-color: #678b41 !important;
  border: none !important;
  float: right;
  border-radius: 40px !important;
  width: 45%;
  margin-bottom: 3%;
  margin-top: 4%;
}

textarea.form-control {
  height: 8rem;
}

.react-datepicker-wrapper {
  width: 100%;
}